/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;  /* Usamos la fuente Open Sans */
    background: url("/static/FONDO.png") no-repeat center center fixed;
    background-size: cover;  /* Mantiene la imagen de fondo cubriendo toda la pantalla */
    background-position: center center;  /* Centra la imagen */
    background-color: #e4ebfd; /* Color de fondo si la imagen no cubre todo */
    background-repeat: repeat;
    background-attachment: fixed;
    color: #333;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

/* Contenedor principal */
.container {
    background-color: #e4ebfd;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-left: 27px;  /* Ajusta el valor para moverlo más o menos */

}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #1c3983;
}

/* Área de texto */
textarea {
    width: 100%;
    height: 120px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    resize: vertical;
    transition: border-color 0.3s;
    font-family: 'Open Sans', sans-serif; 
}

textarea:focus {
    border-color: #3498db;
    outline: none;
}

/* Botón */
input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 12px 70px;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto 0;
    font-family: 'Open Sans', sans-serif; 
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

/* Resultado */
.resultado {
    margin-top: 20px;
    font-size: 1.2em;
    padding: 15px;
    background-color: #e6d9d7;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1); /* sombra gris abajo y a la derecha */
    border-radius: 5px;
    text-align: center;
}

/* Resultado positivo */
.resultado.positivo {
    background-color: #99fa89; /* Verde claro */
    color: #34ac20;
}

/* Resultado negativo */
.resultado.negativo {
    background-color: #fda2a2; /* Rojo claro */
    color: #d22626;
}
.botones-secundarios {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}

.boton-secundario {
    font-size: 16px;

    font-family: 'Open Sans', sans-serif; 
    background-color: #3498db;
    color: white;
    padding: 10px 70px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 400;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.1);

}

.boton-secundario:hover {
    background-color: #b4c9ff;
}



        /* Estilos para el modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 10;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }

        .modal-content {
            background-color: #fff;
            margin: 10% auto;
            padding: 20px;
            border-radius: 10px;
            width: 80%;
            max-width: 500px;
            box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
            font-family: 'Open Sans', sans-serif;
        }

        .close {
            float: right;
            font-size: 24px;
            font-weight: bold;
            cursor: pointer;
        }

        .modal h2 {
            margin-top: 0;
        }